* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img,
picture,
video,
canvas {
    max-width: 100%;
    height: auto;
}


.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--vert);
    position: sticky;
}

header img {
    max-width: 230px;
}

body {
    background-color: var(--vert-clair);
    font-family: Flexo-Medium, arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.selecteur form {
    display: flex;
    gap: 15px;
}

.selecteur {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.vignette {
    display: grid;
    grid-template-areas:
        "img img nom"
        "img img id"
        "img img type";
    gap: 15px;
    border: 2px solid var(--vert);
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.vignette_image {
    grid-area: img;
    max-width: 135px;
    max-height: 135px;
    margin: 5px 10px;


}

.vignette_nom {
    grid-area: nom;
}

.vignette_id {
    grid-area: id;
}

.vignette_type {
    grid-area: type;
    display: flex;
    flex-direction: column;
}

.vignette_type img {
    max-width: 110px;
}

.pokemon {
    display: grid;
    grid-template-areas:
        "pkm_img pkm_img pkm_img pkm_evo1 pkm_evo2 pkm_evo3"
        "pkm_img pkm_img pkm_img pkm_name pkm_name pkm_type1"
        "pkm_img pkm_img pkm_img pkm_id . pkm_type2"
        ". pkm_img_set . pkm_desc pkm_desc pkm_desc"
        "pkm_stats pkm_stats pkm_stats pkm_desc pkm_desc pkm_desc";
        gap: 25px;
}

.pkm_img {
    grid-area: pkm_img;
    height: 35em;
    width: 35em;
}

.evo1 {
    grid-area: pkm_evo1
}

.evo2 {
    grid-area: pkm_evo2
}

.evo3 {
    grid-area: pkm_evo3
}

.pkm_name {
    grid-area: pkm_name
}

.pkm_id {
    grid-area: pkm_id
}

.pkm_type1 {
    grid-area: pkm_type1
}

.pkm_type2 {
    grid-area: pkm_type2
}

.pkm_desc {
    grid-area: pkm_desc
}

.pkm_stats {
    grid-area: pkm_stats
}